/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
  
}

.nav-links {
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-links li {
  color: #575656;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-links li:hover {
  color: #e0dede;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links .active {
  color: #94c2cd;
}
